.scroll-bar:vertical .track{
    -fx-background-color: #a0693d;
    -fx-border-color: #a0693d;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color:derive(rgba(0, 0, 0, 0.84),90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}